* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: white;
}

button {
  font: inherit;
  cursor: pointer;
  background-color:#dcb0ed;
  border: 1px solid #dcb0ed;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #b5dbb8;
  border-color: #b5dbb8;
}